@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --azul-forte:#003049ff;
    --azul-escuro: #1c03fc;
    --roxo-beringela: #500db5;
    --roxo-amora:#772fc4;
    --roxo-roxo-tulipa: #a078de;
    --azul-zulado: #7489c4;
    --preto: #000103;
    --fonte-titulo:"playfair";

}

body{
    background-color: var(--azul-forte);
    color: var(--roxo-beringela);
    font-family: var(--fonte-texto);
}

.titulo-principal{
    font-family: var(--fonte-titulo);
}

.conteudo-titulo{
    text-align: center;
    margin-top: 80px;
}

.img-cadeado{
    width: 5%;
}

.conteudo-senha{
    margin-top: 80px;
    background-color: var(--azul-escuro);
    padding: 24px;
    border-bottom: 6px solid var(--azul-forte);
}

#campo-senha{
    background-color: var(--azul-zulado);
    border: none;
    color: var(--preto);
    font-family: var(--fonte-texto);
    font-size: 40px;
    width: 70px;
}

#campo-senha:focus{
    outline: none;
}

.conteudo{
    max-width: 120px;
    margin: 0 auto;
}

.parametro{
    
}